name: Update Configs
permissions: write-all

on:
  push:
    branches:
      - main
  schedule:
    - cron: "*/12 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code  
      uses: actions/checkout@v2  
      with:
        fetch-depth: 0  
        persist-credentials: true  

    - name: Set up Python  
      uses: actions/setup-python@v2  
      with:
        python-version: '3.11'

    - name: Install dependencies  
      working-directory: ./app  # Changed to app directory
      run: pip install -r requirements.txt

    - name: Run Python scripts  
      working-directory: ./app  # Changed to app directory
      run: |
        python app.py
        python sort.py

    - name: Commit and push changes
      uses: EndBug/add-and-commit@v7
      with:
        author_name: "GitHub Actions"
        author_email: "actions@github.com"
        message: "Updated Configs"
        add: "."
        pull: "NO-PULL"
        push: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
